<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Product</title>
    <style>
        body{
            background-color: #33df2d;
        }
        div{
            display: inline;
            text-align: center;
        }
        form{
            margin-top: 150px;
            margin-bottom: 100px;
        }
        input{
           font-size: 20px;
        }
    </style>
</head>
<body>
<div>
    <h1>Enter the product name, id, price and categoryId needs to be already in the db</h1>
    <form action="/product/addproduct" method="post">
        <input type="text" name="name" id="product", placeholder="Enter product name">
        <input type="number" name="price" id="price", placeholder="Enter the price">
        <input type="text" name="productId" id="" placeholder="Enter product id">
        <input type="text" name="categoryId" id="categoryId" placeholder="Enter category ID">
        <input type="submit" value="Submit">
    </form>
</div>
    
   <h1><a href="/">HomePage</a></h1>
</body>
</html>