<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Product</title>
</head>
<body>
    <form action="/product/addproduct" method="post">
        <input type="text" name="name" id="product", placeholder="Enter product name">
        <input type="number" name="price" id="price", placeholder="Enter the price">
        <input type="text" name="categoryId" id="categoryId" placeholder="Enter category ID">
        <input type="submit" value="Submit">
    </form>
   
</body>
</html>