<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create category</title>
    <style>
        body{
            background-color: rgb(45, 140, 223);
        }
        div{
            display: inline;
            text-align: center;
        }
        form{
            margin-top: 200px;
        }
        input{
           font-size: 30px;
        }
    </style>
</head>
<body>
    <div>
        <form action="/category/addcategory" method="post">
            <input type="text" name="name" id="name" placeholder="Enter category name">
            <input type="number" name="categoryId" id="categoryId" placeholder="Enter category id">
            <input type="submit" value="SUBIT" >
        </form>
    </div>
    <h1><a href="/">HomePage</a></h1>
</body>
</html>