<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Operations</title>
    <style>
        body{
            background-color: rgb(241, 6, 151);
        }
        .main{
            text-align: center;
        }
        .main>h1{
            display: inline;
            margin: 50px;
        }
        h1>a{
            text-decoration: none;
        }
        .heading{
            text-align: center;
        }
        .description{
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <div class="heading">
        <h1>Hi welcome to My Site</h1>
        <h1>We will be prforming CRUD operations</h1>
    </div>
    <div class="main">
        <h1><a href="/category/getallcategory">Category</a></h1>
        <h1><a href="/product/getallproduct">Products</a></h1>
        <h1><a href="category/createCategory">Create Category</a></h1>
        <h1><a href="product/createProduct">Create Products</a></h1>
    </div>
    <div class="description">
        <p>There are total 10 routes of category and products, however all are not covered by using html pages. I have used thse routed only to create category and product in db, and get all product and category from db</p>
        
    </div>
 </body>
</html>