<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Operations</title>
    <style>
        .main{
            text-align: center;
        }
        .main>h1{
            display: inline;
            margin: 50px;
        }
        h1>a{
            text-decoration: none;
        }
        .heading{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="heading">
        <h1>Hi welcome to this website</h1>
        <h1>We will be prforming crud operations</h1>
    </div>
    <div class="main">
        <h1><a href="">Category</a></h1>
        <h1><a href="">Products</a></h1>
        <h1><a href="category/createCategory">Create Category</a></h1>
        <h1><a href="product/createProduct">Create Products</a></h1>
    </div>
    
</body>
</html>